@import "../base/variables";

p,
dl,
ol,
ul,
hr,
blockquote,
pre,
table,
section {
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

ol,
ul {
  margin-top: 0.7rem;
  margin-left: 3.8rem;
}

ul ul,
ol ol {
  margin-bottom: 0;
}

ul {
  list-style: disc outside;
  ul {
    list-style-type: circle;
    ul {
      list-style-type: square;
    }
  }
}

li + li {
  margin-top: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.25em;
}

h1,
h2 {
  padding-bottom: 0.3rem;
  border-bottom: 1px solid $border-color;
  margin-bottom: 2rem;
}

h3,
h4 {
  margin-bottom: 1.8rem;
}

h1 {
  font-size: 3.4rem;
}

h2 {
  font-size: 2.6rem;
  &:not(:first-child) {
    margin-top: 4rem;
  }
}

h3 {
  font-size: 2.2rem;
  margin-top: 3.5rem;
}

h4 {
  font-size: 2rem;
  margin-top: 2.5rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}
