p,
dl,
ol,
ul,
blockquote,
pre,
table,
section,
figure,
.article-section {
  margin-bottom: 2.4rem;
  &:last-child {
    margin-bottom: 0;
  }
}

blockquote {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-style: italic;
}

del {
  text-decoration-color: var(--color-border-danger);
}

// Lists

ol,
ul {
  margin-top: 0.7rem;
  margin-left: 3.8rem;
}

ul ul,
ol ol {
  margin-bottom: 0;
}

ul {
  list-style: disc outside;
  ul {
    list-style-type: circle;
    ul {
      list-style-type: square;
    }
  }
}

li {
  padding-left: 0.5rem;
}

li + li {
  margin-top: 0.5rem;
}

$hr-margin-y: 4rem;

hr {
  margin-top: $hr-margin-y;
  margin-bottom: $hr-margin-y;
}

// Headlines

h1 {
  font-size: 3.8rem;
  line-height: 1;
  font-weight: 800;
  margin-bottom: 4rem;
}

h2 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 3rem;

  &:not(:first-child) {
    margin-top: 5.8rem;

    hr + & {
      margin-top: $hr-margin-y;
    }
  }
}

h3 {
  font-size: 2.4rem;
  line-height: 1.25;
  font-weight: 500;
  margin-top: 4.2rem;
  margin-bottom: 1.8rem;
}

h4 {
  font-size: 2rem;
  line-height: 1.35;
  font-weight: 500;
  margin-top: 3.2rem;
  margin-bottom: 1.8rem;
}
