code {
  display: inline-block;
  padding: 0 0.6rem;
  white-space: pre;
  word-break: break-word;
  background-color: var(--code-background-color);
  color: var(--code-color);
  border-radius: 5px;
}

pre.shell:before {
  // "$ "
  content: "\000024\00a0";
}

pre code {
  padding: 0;
  color: inherit;
  background-color: inherit;
}
