code {
  display: inline-block;
  padding: 0 0.6rem;
  white-space: pre;
  word-break: break-word;
  background-color: var(--color-code-background);
  color: var(--color-code-text);
  border-radius: 5px;
}

pre code {
  padding: 0;
  color: inherit;
  background-color: inherit;
}
