html {
  // font-size 1em = 10px on default browser settings
  font-size: 62.5%;

  // words break to prevent overflow
  word-break: break-word;
}

body {
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--base-font-color);
}

code,
pre,
kbd,
samp {
  font-family: var(--monospace-font-family);
  font-size: var(--monospace-font-size);
  line-height: var(--monospace-line-height);
}

pre {
  overflow: auto;
  padding: 1.5rem;
  background-color: var(--background-light-color);
  border-radius: 5px;
}

a,
a:hover,
a:visited {
  color: var(--accent-color);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  border: none;
  border-top: 1px solid var(--border-color);
}

blockquote {
  margin: 2rem 0;
  padding: 2rem 3rem;
  border-left: 0.4rem solid var(--accent-color);
  background-color: var(--background-light-color);
}
