html {
  // font-size 1em = 10px on default browser settings
  font-size: 62.5%;

  // words break to prevent overflow
  word-break: break-word;
}

body {
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text);
  background-color: var(--color-background);
}

code,
pre,
kbd,
samp {
  font-family: var(--monospace-font-family);
  font-size: var(--monospace-font-size);
  line-height: var(--monospace-line-height);
}

pre {
  overflow: auto;
  padding: 1.5rem;
  background-color: var(--color-background-offset);
  border-radius: 5px;
}

a {
  --color-link-box-shadow: transparent;
}

a,
a:hover,
a:visited {
  color: var(--color-primary);
  box-shadow: inset 0 -0.2rem 0 var(--color-link-box-shadow);
  text-decoration: none;
}

a:hover {
  --color-link-box-shadow: var(--color-primary);
}

hr {
  border: none;
  border-top: 1px solid var(--color-border);
}

blockquote {
  margin: 2rem 0;
  padding: 2rem 3rem;
  border-left: 0.4rem solid var(--color-primary);
  background-color: var(--color-background-offset);
}
