@import "../base/variables";

html {
  /* font-size 1em = 10px on default browser settings */
  font-size: 62.5%;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $base-font-color;
}

code,
pre,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  font-size: 1.7rem;
}

pre {
  overflow: auto;
  padding: 1.5rem;
  background-color: $background-light-color;
  border-radius: 3px;
}

a,
a:hover,
a:visited {
  color: $accent-color;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  border: none;
  border-top: 1px solid $border-color;
}

blockquote {
  margin: 2rem 0;
  padding: 2rem 3rem;
  border-left: 0.4rem solid $accent-color;
  background-color: $background-light-color;
}
