// Differentiate prose links (underline) from links outside of prose (like menu links)
.prose {
  a {
    // https://css-tricks.com/when-to-avoid-css-text-decoration-shorthand/
    text-decoration-line: underline;
    transition: text-underline-offset 0.1s;
  }

  a:focus {
    transition: none;
  }

  // headline anchor links
  h2 a, h3 a {
    color: inherit;
    text-decoration-line: none;

    &:hover {
      text-decoration-line: underline;
    }
  }
}
