@import "../mixins/all";

td,
th {
  padding: 1rem 2rem 1rem 1rem;
  vertical-align: top;
}

tbody tr:nth-child(odd) {
  background-color: var(--color-background-offset);
}

@include breakpoint-md-down() {
  thead {
    display: none;
  }
  table,
  tr,
  td,
  th,
  tbody,
  table caption {
    display: block;
  }
  tr {
    margin-bottom: 1.5rem;
  }
  td {
    padding: 0.5rem 1rem;
  }
}
