@import "../mixins/all";

table {
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  margin-right: auto;
  margin-left: auto;
}

td,
th {
  padding: 1rem 2rem 1rem 1rem;
  vertical-align: top;
}

tbody tr:nth-child(odd) {
  background-color: var(--color-background-offset);
}
