@import "../mixins/all";

a.anchor {
  margin-right: 1rem;
}

a.anchor:hover {
  box-shadow: none;
}

.icon--anchor {
  width: 1.6rem;
  height: 1.6rem;
}

h2,
h3,
h4,
h5 {
  position: relative;
}

@media (min-width: 850px) {
  a.anchor {
    position: absolute;
    left: -2.7rem;
  }
}
