@mixin focus-ring() {
  // Custom focus indicator
  box-shadow: 0 0 0 0.2rem var(--focus-ring-color);

  // Fallback for Windows High Contrast mode
  outline: transparent solid 0.2rem;
}

:focus {
  @include focus-ring();
}

// Progressive enhancement: https://matthiasott.com/notes/focus-visible-is-here
:focus:not(:focus-visible) {
  box-shadow: none;
  outline: 0;
}

:focus-visible {
  @include focus-ring();
}

::-moz-focus-inner {
  // Remove inner focus ring and padding in Firefox
  border: 0;
  padding: 0;
}
