// Colors

.text-offset {
  color: var(--color-text-offset);
}

.background-offset {
  background-color: var(--color-background-offset);
}

// Text Alignment

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

// Flexbox

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

// Width / Height

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

// Position

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

// Border

.border {
  border: 1px solid var(--color-border);
}

.border-0 {
  border: none;
}

@each $direction in (top, right, bottom, left) {
  .border-#{$direction} {
    border-#{$direction}: 1px solid var(--color-border);
  }
}

.rounded {
  border-radius: 0.4rem;
}

.rounded-full {
  border-radius: 50%;
}

.outline-none {
  outline: 2px solid transparent;
}
