// Text colors

.text-default {
  color: var(--color-text-default);
}

.text-offset {
  color: var(--color-text-offset);
}

.text-accent {
  color: var(--color-text-accent);
}

.text-interaction {
  color: var(--color-text-interaction);
}

.text-success {
  color: var(--color-text-success);
}

.text-danger {
  color: var(--color-text-danger);
}

// Background colors

.bg-transparent {
  background-color: transparent;
}

.bg-inherit {
  background-color: inherit;
}

.bg-default {
  background-color: var(--color-background-default);
}

.bg-offset {
  background-color: var(--color-background-offset);
}

.event\:bg-offset {
  &:focus,
  &:hover,
  &:active {
    background-color: var(--color-background-offset);
  }
}

.bg-success {
  background-color: var(--color-background-success);
}

.bg-warning {
  background-color: var(--color-background-warning);
}

.bg-danger {
  background-color: var(--color-background-danger);
}

.bg-info {
  background-color: var(--color-background-info);
}

// Text Alignment

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

// Flexbox

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

// Width / Height

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

// Position

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

// Border

.border {
  --border-color: var(--color-border-default);
  border: 1px solid var(--border-color);
}

.border-0 {
  border: none;
}

@each $direction in (top, right, bottom, left) {
  .border-#{$direction} {
    border-#{$direction}: 1px solid var(--color-border-default);
  }
}

.border-transparent {
  --border-color: transparent;
}

.border-success {
  --border-color: var(--color-border-success);
}

.border-warning {
  --border-color: var(--color-border-warning);
}

.border-danger {
  --border-color: var(--color-border-danger);
}

.border-info {
  --border-color: var(--color-border-info);
}

.rounded {
  border-radius: 0.4rem;
}

.rounded-full {
  border-radius: 9999px;
}

.outline-none {
  outline: 2px solid transparent;
}
