noscript {
  display: block;
  margin-block: 2.4rem;
  padding: 1.5rem 2rem;

  background: var(--color-background-warning);
  border: 1px dotted var(--color-border-warning);

  font-style: italic;
  text-align: center;
}
