noscript {
  display: block;
  margin-block: 2.4rem;
  padding: 1.5rem 2rem;

  background: var(--color-background-warning);
  border: 1px dotted var(--color-border-warning);

  text-align: center;
  font-weight: bold;
  font-size: 1.6rem;
}
