/* regular */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Nunito"),
    url("./fonts/nunito-v16-latin-regular.woff2") format("woff2"),
    url("./fonts/nunito-v16-latin-regular.woff") format("woff");
}

/* italic */
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Nunito"),
    url("./fonts/nunito-v16-latin-italic.woff2") format("woff2"),
    url("./fonts/nunito-v16-latin-italic.woff") format("woff");
}

/* bold */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Nunito"),
    url("./fonts/nunito-v16-latin-700.woff2") format("woff2"),
    url("./fonts/nunito-v16-latin-700.woff") format("woff");
}
