button,
[type="button"],
[type="reset"],
[type="submit"] {
  // Correct the inability to style clickable types in iOS and Safari
  -webkit-appearance: button;
  padding: 0.5rem 1.25rem;
}

.btn {
  border: none;
  border-radius: 0.4rem;
  color: var(--button-primary-color-text);
  background-color: var(--button-primary-color-background);

  &:active {
    transform: translateY(1px);
  }

  &:hover,
  &:active {
    filter: saturate(70%) brightness(120%);
  }
}
