.input {
  color: var(--color-text-default);
  background-color: var(--color-background-default);
  border-radius: 0.4rem;
  border: 1px solid var(--color-border-default);
}

.input:disabled {
  background-color: var(--color-background-disabled);
}
