/*
 * Theme: Light (default)
 */

@use "../base/colors" as *;

:root,
[data-theme="default"] {
  $blue-vivid-55: #0070ca;

  --color-accent: #{$violet-vivid-60};

  --color-text-default: #{$blue-80};
  --color-text-offset: #{$dk-gray-55};
  --color-text-accent: var(--color-accent);
  --color-text-interaction: #{$dk-blue-vivid-55};
  --color-text-success: #{$dk-green-vivid-55};
  --color-text-danger: #{$dk-red-vivid-55};

  --color-background-default: #{$white};
  --color-background-offset: #{$gray-cool-4};
  --color-background-success: #{$green-vivid-5};
  --color-background-warning: #{$orange-vivid-5};
  --color-background-danger: #{$red-vivid-5};
  --color-background-info: #{$blue-warm-vivid-5};
  --color-background-disabled: #{$gray-warm-10};

  --color-border-default: #{$gray-cool-10};
  --color-border-success: #{$green-40};
  --color-border-warning: #{$orange-40};
  --color-border-danger: #{$red-40};
  --color-border-info: #{$blue-40};

  --color-focus-ring: hsla(219, 100%, 50%, 0.5);

  --color-box-shadow: rgba(0, 0, 0, 0.1);
  --color-backdrop: rgba(255, 255, 255, 0.6);

  --button-primary-color: #{$blue-vivid-55};
  --button-secondary-color: #{$dk-violet-55};
  --button-secondary-focus-ring: #{$violet-vivid-30};
  --button-danger-color: var(--color-text-danger);
  --button-danger-focus-ring: #{$red-30};
  --button-disabled-color: #{$gray-warm-50};

  --inverted-color-text-default: #{$white};
  --inverted-color-background-default: #{$dk-blue-75};
  --inverted-color-text-interaction: #{$gold-vivid-20};
  --inverted-color-focus-ring: hsla(49, 100%, 49%, 0.5);
}
