@use "../mixins/all" as *;

dk-alert-box {
  display: block;
  margin-bottom: 2.4rem;
  padding: 1.2rem 1.7rem;
  border: 1px solid var(--alert-border);
  border-left-width: 0.5rem;
  border-radius: 0.4rem;
  background-color: var(--alert-background);

  @include breakpoint-md-up() {
    padding: 2rem 2.5rem;
  }

  &[type="info"] {
    --alert-border: var(--color-border-info);
    --alert-background: var(--color-background-info);
  }

  &[type="warning"] {
    --alert-border: var(--color-border-warning);
    --alert-background: var(--color-background-warning);
  }

  &[type="danger"] {
    --alert-border: var(--color-border-danger);
    --alert-background: var(--color-background-danger);
  }

  &[type="success"] {
    --alert-border: var(--color-border-success);
    --alert-background: var(--color-background-success);
  }
}
