html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  box-sizing: border-box;
  background-repeat: no-repeat;

  // Prevent adjustments of font size after orientation changes in iOS
  -webkit-text-size-adjust: 100%;
}

*,
::before,
::after {
  box-sizing: inherit;
  background-repeat: inherit;
}

::before,
::after {
  // Pseudo-elements inherit text decoration and vertical alignment
  text-decoration: inherit;
  vertical-align: inherit;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  // Single taps are dispatched immediately on clickable elements
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  border: 0;
}

table {
  // Do not include additional border spacing
  border-collapse: collapse;
  border-spacing: 0;

  // Move the caption to the bottom
  caption-side: bottom;
}

th {
  // Override default center alignment
  text-align: left;
}

hr {
  // Add the correct box sizing in Firefox
  box-sizing: content-box;
  height: 0;
}
