@import "colors";

$base-font-color: $blue-80 !default;
$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Noto Sans", "Helvetica Neue", Arial, sans-serif;
$base-font-size: 1.8rem;

$accent-color: $dk-blue-vivid-55 !default;
$background-light-color: $gray-cool-3 !default;
$border-color: $gray-cool-10 !default;
$code-color: $red-cool-vivid-60 !default;
$code-background-color: $magenta-vivid-5 !default;

$inverted-background-color: $dk-blue-75 !default;
$inverted-font-color: $white !default;
$inverted-link-color: $yellow-vivid-20 !default;

$content-max-width: 800px !default;
