$base-font-color: #2b3236 !default;
$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Noto Sans", "Helvetica Neue", Arial, sans-serif;
$base-font-size: 1.8rem;

$background-light-color: #f3f5f7;
