@import "colors";

html {
  --base-font-color: #{$blue-80};
  --base-font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Noto Sans", "Helvetica Neue", Arial, sans-serif;
  --base-font-size: 1.8rem;
  --base-line-height: 1.5;

  --monospace-font-family: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --monospace-font-size: 1.7rem;
  --monospace-line-height: 1.5;

  --focus-ring-color: hsla(219, 100%, 50%, 0.5);

  --accent-color: #{$dk-blue-vivid-55};
  --background-light-color: #{$gray-cool-3};
  --border-color: #{$gray-cool-10};
  --code-color: #{$red-cool-vivid-60};
  --code-background-color: #{$magenta-vivid-5};

  --inverted-background-color: #{$dk-blue-75};
  --inverted-font-color: #{$white};
  --inverted-link-color: #{$yellow-vivid-20};
  --inverted-focus-ring-color: hsla(49, 100%, 49%, 0.5);

  --content-max-width: 800px;
}
