@import "../mixins/all";

main {
  max-width: var(--content-max-width);
  margin: 0 auto;
  padding: 2rem var(--content-horizontal-padding-xs);

  @include breakpoint-md-up() {
    padding: 2rem var(--content-horizontal-padding-md);
  }
}
