@import "../base/variables";
@import "../mixins/all";

main {
  max-width: var(--content-max-width);
  margin: 0 auto;
  padding: 2rem 1.5rem;

  @include breakpoint-md-up() {
    padding: 2rem 2.5rem;
  }
}
