@import "../base/variables";
@import "../mixins/all";

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  width: 100%;
  max-width: $content-max-width;
  margin: 5rem auto;
  padding: 0 1.5rem;

  @include breakpoint-md-up() {
    padding: 0 2.5rem;
  }
}

header,
footer {
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem 1rem;
}

header h1 {
  max-width: $content-max-width;
  margin: 0;
  padding: 0;
  border: none;
  cursor: default;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.5;
}

footer {
  flex-direction: column;
  font-size: 1.6rem;
}

footer > * {
  margin: 0.6rem;
}

header,
footer {
  color: $inverted-font-color;
  background: $inverted-background-color;

  a,
  a:hover,
  a:visited {
    color: $inverted-link-color;
  }

  :focus:not([tabindex="-1"]) {
    box-shadow: 0 0 0 0.2rem $inverted-focus-ring-color;
  }
}

.github-icon {
  height: 2rem;
  width: 2rem;
  margin-left: 0.5rem;
}
